<mat-card class="card-row">
  <mat-card>
    <mat-form-field class="text-field">
          <textarea matInput [value]="data.text" (input)="updateText($event.target.value)" rows="7"
                    placeholder="Quote"></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput [value]="data.name" (input)="data.name = $event.target.value" placeholder="Name">
    </mat-form-field>
  </mat-card>
  <mat-card class="quote-card">
    <app-note-paper>
      <app-quote-note>
        {{ data.text }}
        <span class="name">{{ data.name }}</span>
      </app-quote-note>
    </app-note-paper>
  </mat-card>
</mat-card>
